LoopyVideo/obj/
LoopyVideo/bin/
LoopyVideo/Assets/Test2.mp4
LoopyWebService/obj/
LoopyWebService/bin/
LoopyVideo.AppService/obj/
LoopyVideo.AppService/bin/
LoopyAppServiceTest/obj/
LoopyAppServiceTest/bin/
LoopVideo.AppService/obj/
