LoopyVideo/obj/
LoopyVideo/bin/
LoopyVideo/Assets/Test2.mp4
LoopyWebService/obj/
LoopyWebService/bin/
LoopyWebServer/obj/
LoopVideo.AppService/obj/
LoopVideo.AppService/bin/
LoopyAppServiceTest/obj/
LoopyAppServiceTest/bin/
LoopyVideo.AppService/obj/
LoopyVideo.AppService/bin/
.vs/
LoopyVideo.WebHost/obj/
LoopyVideo.WebServiceComponent/bin/
LoopyVideo.WebHost/bin/
LoopyVideo.WebServiceComponent/obj/
AppServiceUnitTest/obj/
AppServiceUnitTest/bin/
*.lock.json
